<div class="about">
    <div class="about_main">
        <div (scroll)="slide1($event)"  class="Slide_Container">
            <div   class="slide_1">
                <div class="slide_1_content">
                    <h1>We are Lightning small & Fastr</h1>
                    <p>
                        Fastr Payments is an innovative payment gateway and network designed to revolutionise the online payment experience backed by RESEARCH. With our comprehensive range of features specially SPLIT payments, we offer a unique payment experience that is secure, reliable, and lightning-fast. Our robust, ISO-standardised payment network is being developed to be accepted worldwide. It incorporates advanced fraud detection and prevention mechanisms to ensure that your transactions are secure. Our platform uses AI and machine learning algorithms to detect and prevent fraudulent activities, ensuring that your business is protected at all times.
                    </p>
                </div>
                </div>
                <div class="slide_2">
                    <div class="slide_2_content">
                        <h1>Heading 2 ######</h1>
                        <p>
                            Fastr Payments is an innovative payment gateway and network designed to revolutionise the online payment experience backed by RESEARCH. With our comprehensive range of features specially SPLIT payments, we offer a unique payment experience that is secure, reliable, and lightning-fast. Our robust, ISO-standardised payment network is being developed to be accepted worldwide. It incorporates advanced fraud detection and prevention mechanisms to ensure that your transactions are secure. Our platform uses AI and machine learning algorithms to detect and prevent fraudulent activities, ensuring that your business is protected at all times.
                        </p>
                    </div>
                    </div> 
                    <div class="slide_3">
                        <div class="slide_3_content">
                            <h1>Heading 3 ######</h1>
                            <p>
                                Fastr Payments is an innovative payment gateway and network designed to revolutionise the online payment experience backed by RESEARCH. With our comprehensive range of features specially SPLIT payments, we offer a unique payment experience that is secure, reliable, and lightning-fast. Our robust, ISO-standardised payment network is being developed to be accepted worldwide. It incorporates advanced fraud detection and prevention mechanisms to ensure that your transactions are secure. Our platform uses AI and machine learning algorithms to detect and prevent fraudulent activities, ensuring that your business is protected at all times.
                            </p>
                        </div>
                        </div>  
        </div>

    </div>
</div>