*{
    color: white;
}
.about{
    position: absolute;
    top: 25%;
}
.about_main {
    position: fixed;
    top: 25%;
    height: 60%;
    width: 100%; /* Make it full width */
    overflow-y: auto; /* Allow vertical scroll */
  }
  
  .Slide_Container {
    width: 70%;
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    scrollbar-width: none;
  }

.slide{
    display: none;
}
.slide.active{
    display:block
}
.Slide_Container h1{
    font-size: 5rem;
    color: #63DFFA;
}
.Slide_Container p{
    line-height: 5vh;
}
@media screen and (max-width: 650px) {
    .Slide_Container h1{
        font-size: 3rem;
        color: #63DFFA;
    }
}
