<div style="">
<div class="home">
    <div class="home_content">
        <div class="home_left">
            <div class="home_left_content">
                <h1>FASTR</h1>
                <p>Revolutionizing Payments, experience, introducing new payment network</p>

            </div>
        </div>
        <div class="home_right">
            <div class="home_right_content">
                <div class="ani_flex1">
                    <span></span>
                    <img class="animated_logo"  src='../assets/Frame_logo.png' alt="Description of the image">
                </div>
                
                <div class="ani_flex2">
                    <img class="split_logo1"  src='../assets/split1.png' alt="Description of the image">
                    <img class="split_logo2"  src='../assets/split2.png' alt="Description of the image">
                    <img class="split_logo3"  src='../assets/split3.png' alt="Description of the image">

                </div>
                <div class="ani_flex3">
                    <span></span>
                    <h2>Split And Pay</h2>
                    <span></span>

                </div>
            </div>
        </div>
    </div>
</div>
</div>